#todos h1 {
	text-align: center;
	width: 95%;
	color: #007BA7;
}

ul, ul li {
	list-style-type: none;
	text-align: justtify;
	width: 90%;
}

li {
	padding: 15px 15px 15px 15px;
	border: 1px solid #0095B6;
	margin-bottom: 5px;
	border-radius: 10px;
	position: relative;
}
.add-tasks {
	text-align: center;
	width: 90%;
	padding: 10px;
}
.add-tasks input {
	width: 90%;
}
.del {
	/* text-align: right;
	margin-right: 15px;*/
	position: absolute;
	top: 10px;
	bottom: 10px;
	right: 10px;
	margin: 5px;
	vertical-align: middle;
}
.del:hover::before {	
	content: attr(data-title); 
	color: red;
	font-size: 10px;
}
.del:hover {
	cursor: pointer;
}
i.icono-check {
	color: #007BA7;
}

i.icono-cross, i.icono-trash {
	color: red;
}